#previewFull {
  background-color: #ffffff !important;
  width: 962px !important;
  color: inherit;
}

#idioma{
	width: 962px !important;
	text-align: right;
	float: right;
}

#liveUpdateContactInfo {
}

#derecha{
	left: 20px;
	float: left;
	top: 0;
	display: table;
}
#izquierda{
	width: 140px;
	left: 0;
	top: 0;
	float: left;
}

body {
  background-color: #ffffff !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

.borderRight {
  border-right: 1px solid #787878 !important;
}


.logo {
  display: inherit !important;
}

.detailText {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #949494 !important;
  color: inherit;
}

.thumbnail {
  background-color: #949494 !important;
  color: inherit;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

#stage2 {
  width: 962px !important;
}

.itemNumber {
  display: inherit !important;
  color: #9C9C9C !important;
  background-color: inherit;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #A1A1A1 !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #787878 !important;
  border-left: 1px solid #787878 !important;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.thumb, .preview {
}

.borderBottomRight {
  border-right: 1px solid #787878 !important;
  border-bottom: 1px solid #787878 !important;
}

#wrapper_large {
  width: 962px !important;
}

#previewImage {
  maxSize: 926.00 !important;
}

.borderRightDotted {
  border-right: 1px dotted #787878 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #787878 !important;
}

#stage {
  width: 700px !important;
}

.textColor {
  color: #B3B3B3 !important;
  background-color: inherit;
}
